.textarea {
  resize: none;
  border-color: black;
}

.move-button {
  cursor: move;
}

@media screen and (min-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: 20em auto;
    grid-gap: 10px;
    align-items: center;
  }
  .language-desc {
    padding-left: 10px;
    max-width: 5em;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 30px;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
  }

  .grid-content {
    padding: 10px 5px;
    padding-left: 5px;
  }
}

@media screen and (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
  }
  .language-desc {
    padding-left: 10px;

    width: 3em;
    white-space: nowrap;
    overflow: hidden;
    font-size: 20px;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
  }

  .grid-content {
    padding: 2px 2px;
    padding-left: 2px;
  }
}

.mat-icon {
  vertical-align: middle;
}

.mat-icon-padding-center {
  padding: 0 0;
}

.list-group {
  padding-top: 10px;
}

.translation-origin-off {
  color: gray;
}
.translation-origin-on {
  color: red;
}
.copy-button {
  background-color: lightgreen;
}

.size-24 {
  transform: scale(2);
}
