<ul class="nav nav-pills nav-justified grid-container">
  <li class="nav-item active bg-dark">
    <a class="nav-link" [routerLink]="['translator']">
      <mat-icon class="material-icons-round">g_translate</mat-icon>
    </a>
  </li>
  <li class="nav-item active bg-dark">
    <a class="nav-link">
      <mat-icon class="material-icons-round" [routerLink]="['home']"
        >home</mat-icon
      >
    </a>
  </li>
  <li class="nav-item active bg-dark">
    <a class="nav-link" [routerLink]="['config']">
      <mat-icon class="material-icons-round">settings</mat-icon>
    </a>
  </li>
</ul>
