<mat-card class="mt-1 bg-dark text-center mat-catd-small">
  <iframe
    src="../../../assets/presentation-gif.gif"
    width="320"
    height="320"
    frameBorder="0"
    allowFullScreen
  ></iframe>
  <h1 class="presentation-text">
    Thanks for using this app
    <br />
    Click on one of this menus to start
  </h1>
</mat-card>

<mat-card class="mt-5 bg-dark text-center">
  <span class="presentation-text">
    This is a web app for translating into multiple languages fast.
    <br />
    First you need to configure the languages.
    <br />
    To do this it is necessary to go to the menu on the right (gear) and add the
    languages
    <br />
    Language code is the 2 letters identifier for the language. You can check
    them
    <a
      href="https://sites.google.com/site/opti365/translate_codes"
      title="Google codes"
      target="_blank"
      >here</a
    >.
    <br />
    The language description is the name that you want to assign to the
    language.
    <br />
    And the translation icon will identify which one is the source language
  </span>
</mat-card>

<mat-card class="mt-5 bg-dark text-center">
  <span class="presentation-text">
    If you like the app you could give me a star on github
    <a
      href="https://github.com/alejandroppir/ap-translator"
      title="github"
      target="_blank"
    >
      <mat-icon class="material-icons-round">star</mat-icon> </a
    >.
  </span>
</mat-card>
